@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #c5e4e7;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.App #Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App #Main {
  background-color: white;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  padding: 5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App #Main .main-left {
  width: 350px;
  margin-right: 6%;
}

.App #Main .main-left label {
  color: #5e7a7d;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 3%;
}

.App #Main .main-left .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App #Main .main-left .labels label#e-msg {
  display: none;
  color: #f29837;
}

.App #Main .main-left .userinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7%;
}

.App #Main .main-left .userinput:last-child {
  margin-bottom: 0;
}

.App #Main .main-left .userinput #peoplecount {
  background: url("../public/images/icon-person.svg") no-repeat left;
  background-color: #f4fafa;
  background-position: 20px;
}

.App #Main .main-left .userinput #amount {
  background: url("../public/images/icon-dollar.svg") no-repeat left;
  background-color: #f4fafa;
  background-position: 20px;
}

.App #Main .main-left .userinput #tip-percent {
  background-color: #f4fafa;
  width: 100%;
  font-size: 1.5em;
}

.App #Main .main-left .userinput #tip-percent::-webkit-input-placeholder {
  text-align: center;
}

.App #Main .main-left .userinput #tip-percent:-ms-input-placeholder {
  text-align: center;
}

.App #Main .main-left .userinput #tip-percent::-ms-input-placeholder {
  text-align: center;
}

.App #Main .main-left .userinput #tip-percent::placeholder {
  text-align: center;
}

.App #Main .main-left .userinput input {
  text-align: right;
  width: 280px;
  border: solid 2px transparent;
  background-color: #f4fafa;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  padding: 2%;
  border-radius: 10px;
  color: #00494d;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-right: 5%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.App #Main .main-left .userinput input::-webkit-input-placeholder {
  font-size: 0.9em;
  color: #7f9c9f;
}

.App #Main .main-left .userinput input:-ms-input-placeholder {
  font-size: 0.9em;
  color: #7f9c9f;
}

.App #Main .main-left .userinput input::-ms-input-placeholder {
  font-size: 0.9em;
  color: #7f9c9f;
}

.App #Main .main-left .userinput input::placeholder {
  font-size: 0.9em;
  color: #7f9c9f;
}

.App #Main .main-left .userinput input:focus {
  outline: solid 2px #26c0ab;
  -webkit-box-shadow: 0px 0px 5px 2px #26c0ab;
          box-shadow: 0px 0px 5px 2px #26c0ab;
}

.App #Main .main-left .userinput input.error {
  outline: solid 2px #f29837;
  -webkit-box-shadow: 0px 0px 5px 2px #f29837;
          box-shadow: 0px 0px 5px 2px #f29837;
}

.App #Main .main-left .userinput .quick-percent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  row-gap: 20%;
  width: 300px;
  margin-bottom: 10%;
}

.App #Main .main-left .userinput .quick-percent > button {
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  color: white;
  background-color: #00494d;
  outline: none;
  border: none;
  border-radius: 8px;
  padding-block: 4%;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.App #Main .main-left .userinput .quick-percent > button:hover {
  background-color: #c5e4e7;
  color: #00494d;
}

.App #Main .main-left .userinput .quick-percent > button:focus, .App #Main .main-left .userinput .quick-percent > button:active {
  background-color: #26c0ab;
  color: #00494d;
}

.App #Main .main-right {
  width: 350px;
  background-color: #00494d;
  border-radius: 20px;
  padding: 5%;
  position: relative;
  font-family: "Space Mono", monospace;
}

.App #Main .main-right #result {
  margin-top: 10%;
}

.App #Main .main-right .calculated {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4%;
}

.App #Main .main-right .calculated .c-title {
  color: white;
}

.App #Main .main-right .calculated .c-split {
  color: #7f9c9f;
  font-size: 0.8em;
  padding-top: 3%;
}

.App #Main .main-right .calculated .c-right {
  font-size: 2.5em;
  color: #26c0ab;
}

.App #Main .main-right #reset {
  width: 80%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 1.2em;
  padding-block: 2%;
  font-family: "Space Mono", monospace;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #26c0ab;
  color: #00494d;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.App #Main .main-right #reset:disabled {
  color: #00494d;
  background-color: #1d9585;
}

.App #Main .main-right #reset:hover:enabled {
  background-color: #95eadf;
}
/*# sourceMappingURL=App.css.map */